@import "tailwindcss";

@theme {
  --color-primary: #6C5CE7;
  --color-primary-light: #EDEBFC;
  --color-surface: #F7F7FB;
  --color-success: #00B894;
  --color-warning: #FDCB6E;
  --color-danger: #FF6B6B;
}

body {
  background-color: #F7F7FB;
}